config.json
bot_storage
main copy.py
tester.py
train.py

extracted_pages
models
ocr_results
pdfs
main copy 2.py
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/PDFTextifyBot/v17/DocumentLayout.json
.vs/PDFTextifyBot/v17/.wsuo
.vs/PDFTextifyBot/FileContentIndex/58a280a6-6579-4218-ac1b-fce7f877dc9b.vsidx
.vs/ProjectSettings.json
